#novedades {
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 213px;
    padding-bottom:  151px;
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
    height: 518px;
}


#novedades h2{
    margin-left: 0;
    width: 100%;
    width: 100%;
    height: 62px;
    padding-top: 6px;
    margin-bottom: 0;
}


.font-button {
    padding-top: 18px;
    font-size: 18px;
    line-height: 24px;
}

.container-button-style{
    width: 345px;
    height: 56px;
    margin-top: 36px;
}