#entrevistas{
    width: 100%;
    
}

#entrevistas h2{
    color: var(--pale-black);
}

#entrevistas div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
 

}

#entrevistas img{
   max-height: 243px;
  
  

}

