
footer{
    padding-left: 45px;
    padding-right: 45px;
}

footer p{
    font-family: var(--font-family-paragraph);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: var(--pale-black);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.container-social-media{
    display: flex;
    justify-content: space-between;
    height:28px;
    align-items: center;
    margin-bottom: 31px;
}

footer a{
    text-decoration: none;
    color: var(--pale-black);
}

