
#novedades {
    padding: 64px 16px 67px;
    width: 100%;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    background-image: var(--gradient-blue) ;
}

#novedades h2{
    color: white;
    text-align: center;
    margin-bottom: 36px ;
}
#novedades div a:hover{
    color: white;
    background-image: var(--gradient-button);
 }